<section class="title">
  <h1>Dragonpedia</h1>
</section>

<section class="container">
  <section class="login">
    <section class="card-title">
      <h2>Vem sempre aqui?</h2>
      <h3>Faça login e acesse a Dragonpedia!</h3>
    </section>

    <form>

    </form>

  </section>

  <section class="new">
    <section class="card-title">
      <h2>Crie sua conta</h2>
      <h3>Insira suas credenciais e cria sua conta na Dragonpedia!</h3>
    </section>

    <form>

    </form>
  </section>
</section>
